@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-size: .32rem;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    font-family: "微软雅黑";
    text-size-adjust: 100%;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

img,
div,
body,
html,
ul,
li,
a {
    -webkit-touch-callout: none;
}

input,
button {
    outline: 0;
}

button {
    cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}

@mixin num($w, $h) {
    width: $w;
    height: $h;
}

@mixin flex($j:space-between) {
    display: flex;
    justify-content: $j;
    -webkit-justify-content: $j;
    align-items: center;
    -webkit-align-items: center;
}

@mixin cir($w) {
    width: $w;
    height: $w;
    border-radius: 50%;
    display: inline-block;
}

%text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 0.32rem;
}
header{
    width: 100%;
    height: .9rem;
    background: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    padding: 0 .2rem;
    label{
        flex: 1;
        input{
            width: 100%;
            border: 0;
            background: #EFEFEF;
            height: .55rem;
            border-radius: .05rem;
            text-indent: 1em;
        }
    }
    a{
        padding: 0 .2rem 0 .4rem;
        color: #B3B3B3;
    }
}

.main{
    flex: 1;
    width: 100%;
    overflow: hidden;
    display: flex;
}
.nav-bar{
    width: 2rem;
    background: #F6F6F6;
    ol{
        width: 100%;
        li{
            height: .8rem;
            line-height: .8rem;
            text-align: center;
            color: #666666;
            font-size: .28rem;
        }
    }
}
.nav-cont{
    flex: 1;
}

footer{
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    border-top: 1px solid #CFCFCF;
    a{
        flex: 1;
        text-align: center;
        color: #666666;
        i.icon{
            font-size: .48rem;
        }
        span{
            font-size: .24rem;
            display: block;
        }
        &.active{
            color: #FF296D;
        }
    }
}